---
- name: Deploy Kubernetes via Kubespray
  hosts: localhost
  vars_files:
    - "../vars/main.yaml"
  tags: [kubespray]

  tasks:
    - name: Install Kubespray requirements
      pip:
        requirements: "{{ kubespray_dir }}/requirements.txt"

    - name: Generate inventory.ini
      template:
        src: "{{terraform_working_dir}}/templates/kubespray-inventory.ini.j2"
        dest: "{{ kubespray_inventory }}"
        mode: '0644'

    - name: Wait for all SSHable hosts
      wait_for_connection:
        timeout: 300
        delay: 10

    - name: Run Kubespray playbook
      command: ansible-playbook -i inventory/mycluster/inventory.ini --become --become-user=root cluster.yml --user ubuntu
      args:
        chdir: "{{kubespray_dir}}"
