---
- name: Install Helm, pip3 & Kubernetes packages
  hosts: master_nodes
  become: true
  vars_files:
    - "../vars/main.yaml"
  tags: [helm]

  tasks:
    - name: Copy kubeconfig & verify
      copy:
        src: "{{terraform_working_dir}}/configs/"
        dest: /tmp/configs/
      register: copycfg

    - name: Check kubectl
      shell: kubectl get nodes
      register: kubectl_result
      failed_when: kubectl_result.rc != 0

    - name: Install Helm
      shell: |
        curl -fsSL -o get_helm.sh \
          https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 && \
          chmod +x get_helm.sh && ./get_helm.sh
      args: { chdir: /tmp }

    - name: apt install python3-pip python3-kubernetes
      apt:
        name:
          - python3-pip
          - python3-kubernetes
        state: present

- name: Deploy JupyterHub & Loki-stack
  hosts: master_nodes
  become: true
  vars_files:
    - "../vars/main.yaml"
  tags: [services]

  tasks:
    - name: Create jhub namespace
      kubernetes.core.k8s:
        state: present
        definition:
          api_version: v1
          kind: Namespace
          metadata:
            name: jhub

    - name: Create serviceaccount & RBAC
      kubernetes.core.k8s:
        src: /tmp/configs/{{ item }}
      loop:
        - serviceaccount.yaml
        - restricted-role.yaml
        - restricted-rolebinding.yaml

    - name: Add Helm repos & deploy charts
      block:
        - kubernetes.core.helm_repository:
            name: jupyterhub
            repo_url: https://hub.jupyter.org/helm-chart/
        - kubernetes.core.helm:
            name: hub
            chart_ref: jupyterhub/jupyterhub
            release_namespace: jhub
            create_namespace: true
            update_repo_cache: true
            values_files:
              - /tmp/configs/jupyter-values.yaml
        - kubernetes.core.helm_repository:
            name: prometheus-community
            repo_url: https://prometheus-community.github.io/helm-charts
        - kubernetes.core.helm:
            name: prometheus
            chart_ref: prometheus-community/kube-prometheus-stack
            release_namespace: monitoring
            create_namespace: true
            update_repo_cache: true
            values_files:
              - /tmp/configs/prometheus-values.yaml
            wait: true
        - kubernetes.core.helm_repository:
            name: grafana
            repo_url: https://grafana.github.io/helm-charts
        - kubernetes.core.helm:
            name: loki
            chart_ref: grafana/loki-stack
            release_namespace: monitoring
            create_namespace: true
            update_repo_cache: true
            values_files:
              - /tmp/configs/loki-values.yaml
            wait: true

    - name: Fetch Grafana admin password
      shell: >
        kubectl get secret --namespace monitoring prometheus-grafana
        -o jsonpath="{.data.admin-password}" | base64 -d; echo
      register: grafana_pass

    - debug:
        msg: "Grafana admin password: {{ grafana_pass.stdout }}"
